<%= javascript_pack_tag 'scripts', 'data-turbolinks-track': 'reload' %>
<div class="main-container">
  <section class="height-100 text-center">
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-md-7 col-lg-5">
          <h2><%= t("recover_update.title") %> </h2>
          <p class="lead">
            <%= t("recover.enter_email") %>
          </p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>
            
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t("recover_update.new_password") %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password",
              placeholder: t("recover_update.confirm") %>
            <button class="btn btn--primary type--uppercase" type="submit"> <%= t("recover_update.submit") %> </button>
          <% end %>

          <span class="type--fine-print block"> <%= t("recover.no_account") %>
            <%= link_to "Create account", new_registration_path(resource_name) %><br />

          </span>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</div>