<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="col-xs-12" style=" ">
      <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <div class="alert alert-success" />
        <% elsif type == "alert" %>
          <div class="alert alert-danger" />
        <% else %>
          <div class='alert alert-<%= "#{type}" %>' />
        <% end %>
        <a href="#" class="close text-danger" style="float: right; font-size: 25px;" data-dismiss="alert">&#215;</a>
        <ul>
          <li> <%= msg %> </li>
        </ul>
      <% end %>
    </div>
  </div>
  
    <%= yield %>
  
  </body>
</html>
